<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.cartemp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CarTemp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- Permissions for Android 12+ (S+) -->
        <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
        <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

        <!-- Legacy permissions for older Android versions -->
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

        <!-- Location permissions required for Bluetooth scanning on some Android versions -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
            <!-- Explicitly declare permissions in the manifest for Android 12+ -->
            <uses-permission
                android:name="android.permission.BLUETOOTH_SCAN"
                android:usesPermissionFlags="neverForLocation" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-compileSdkVersion" value="35" />
        <preference name="android-buildToolsVersion" value="35.0.0" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="NSBluetoothAlwaysUsageDescription" value="This app needs access to Bluetooth to connect to OBD2 device." />
        <preference name="NSBluetoothPeripheralUsageDescription" value="This app needs access to Bluetooth to connect to OBD2 device." />
    </platform>
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon.png" />
</widget>
