
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>CarTemp - Bluetooth OBD Scanner</title>
    </head>
    <body>
        <div id="app">
            <div v-if="showList" class="device-list-container">
                <div>
                    <h2 class="device-list__title">Bluetooth OBD Devices</h2>

                    <!-- Message about permissions -->
                    <div v-if="showPermissionMessage" class="permission-message">
                        <span v-if="isLoading" class="loading"></span>
                        Please allow Bluetooth permissions to scan for devices
                    </div>

                    <div class="device-list">
                        <ul>
                            <li
                                v-for="device in devices"
                                v-on:click="selectDevice(device)"
                                class="device-list__item">
                                <strong>{{ device.name || 'Unknown Device' }}</strong><br>
                                <small>{{ device.id }}</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <button v-on:click="onRefresh" class="content__button refresh-btn">
                    <span v-if="isLoading" class="loading"></span>
                    {{ isLoading ? 'Scanning...' : 'Refresh Devices' }}
                </button>
            </div>

            <div v-if="showContent" class="content-container">
                <div class="content__main" v-bind:style="{'background-color': background }">
                    {{temperature}}
                </div>

                <button
                    v-on:click="disconnect()"
                    class="content__button disconnect">
                    Disconnect
                </button>

                
            </div>

            <div class="debug">
                <p>
                    {{ debug }}
                </p>
                <div class="custom-command-section">
                    <input
                        type="text"
                        v-model="customCommand"
                        placeholder="Enter custom command (e.g., 010D for RPM)"
                        class="custom-command"
                        v-on:keyup.enter="sendCustomCommand"
                    >
                    <button v-on:click="sendCustomCommand" class="send__button">Send</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="index.bundle.js"></script>
    </body>
</html>